@import "tailwindcss";

body {
  margin: 0;
}

.imprima-regular {
  font-family: "Imprima", sans-serif;
}

.inclusive-sans {
  font-family: "Inclusive Sans", sans-serif;
}

.primary-color {
  color: #3277cf;
}

.dark-blue {
  color: #00459c;
}
